.jumbotron{
    background-color:pink;
}
.fab fa-reddit{
    float: left;
}
.hy{
    float: left;
}
    .btn btn-primary btn-lg{
        color: darkcyan;
}
#float1{
    float: right;
}
.fl{
    float: left;
}
.p-2:hover{
    color: peru;
}
/*body{
    background-color: pink;
}*/
.navbar {
    background-color:blanchedalmond;
}
h3{
    color: rebeccapurple;
}