.navbar1{
    height: 20%;
    width: 100%;
}
.navbar2 navbar-light bg-light{
    height: 50%;
}
.Home{
    float: left;
}
.form-inline{
    float: right;
}
.col-lg-3{
    height: 500px;
}
.col-lg-5{
    background-color: white;
    height: 100%;
}
.col-lg-4{
    background-color: plum;
    height: 100%;
}
.d-block{
    height: 100%;
    width: 50%;
    object-fit: cover;
}
.p{
    background-color: blanchedalmond;
}
.card-group{
    float:right;
}
#pre{
    height: 100%;
}